<a href="https://colab.research.google.com/github/Viktoria2006Fal/python-ai-faleeva-viktoria/blob/main/notebooks/week2b_read_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìä Week 2: Data Analysis ‚Äî –ß—Ç–µ–Ω–∏–µ –∏ –ø—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö

**–¶–µ–ª—å**: –ù–∞—É—á–∏—Ç—å—Å—è —á–∏—Ç–∞—Ç—å CSV-—Ñ–∞–π–ª—ã –∏–∑ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏—è GitHub –≤ Google Colab –∏ –≤—ã–ø–æ–ª–Ω—è—Ç—å –±–∞–∑–æ–≤—É—é –ø—Ä–æ–≤–µ—Ä–∫—É –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é pandas.

**–î–∞–Ω–Ω—ã–µ:**
- [`retail.csv`](https://github.com/Viktoria2006Fal/python-ai-faleeva-viktoria/blob/main/data/retail.csv) ‚Äî –¥–∞–Ω–Ω—ã–µ –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö –∏–∑ Wikidata (–Ω–∞–∑–≤–∞–Ω–∏–µ, –≥–æ–¥ –æ—Å–Ω–æ–≤–∞–Ω–∏—è, —Å—Ç—Ä–∞–Ω–∞, –ø—Ä–∞–≤–æ–≤–∞—è —Ñ–æ—Ä–º–∞, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤) üîß –ò–ó–ú–ï–ù–ï–ù–û: –∑–∞–º–µ–Ω–µ–Ω—ã –ø—Ä–∏–º–µ—Ä—ã –º—É–ª—å—Ç—Ñ–∏–ª—å–º–æ–≤ –Ω–∞ –≤–∞—à —Ñ–∞–π–ª retail.csv

**–ß—Ç–æ –º—ã –¥–µ–ª–∞–µ–º:**
1. –ö–ª–æ–Ω–∏—Ä—É–µ–º —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π GitHub –≤ Colab
2. –ß–∏—Ç–∞–µ–º CSV-—Ñ–∞–π–ª—ã –≤ pandas DataFrame
3. –û—á–∏—â–∞–µ–º –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã
4. –°–º–æ—Ç—Ä–∏–º —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö –∏ –¥–µ–ª–∞–µ–º –±—ã—Å—Ç—Ä—É—é –≤–∞–ª–∏–¥–∞—Ü–∏—é

## üê± [1] –ö–ª–æ–Ω–∏—Ä—É–µ–º —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π –∫—É—Ä—Å–∞ –≤ Colab

In [1]:
# üê± –®–∞–≥ 1. –ö–ª–æ–Ω–∏—Ä—É–µ–º —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π –∫—É—Ä—Å–∞ –≤ Colab

import os

# üîß –ò–ó–ú–ï–ù–ï–ù–û: –∏–º—è —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏—è –∏ URL
repo = "python-ai-faleeva-viktoria"  # –±—ã–ª–æ: "python-ai-template"
repo_path = f"/content/{repo}"

if not os.path.exists(repo_path):
    # üîß –ò–ó–ú–ï–ù–ï–ù–û: URL —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏—è
    !git clone -q https://github.com/Viktoria2006Fal/python-ai-faleeva-viktoria.git  # –±—ã–ª–æ: componavt/python-ai-template

if os.getcwd() != repo_path:
    %cd {repo_path}

print("‚úÖ –†–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π –≥–æ—Ç–æ–≤, —Ç–µ–ø–µ—Ä—å –º—ã —Ä–∞–±–æ—Ç–∞–µ–º –≤–Ω—É—Ç—Ä–∏ –ø–∞–ø–∫–∏", repo)

/content/python-ai-faleeva-viktoria
‚úÖ –†–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π –≥–æ—Ç–æ–≤, —Ç–µ–ø–µ—Ä—å –º—ã —Ä–∞–±–æ—Ç–∞–µ–º –≤–Ω—É—Ç—Ä–∏ –ø–∞–ø–∫–∏ python-ai-faleeva-viktoria

## üì• [2A] –ü—Ä–æ—Å—Ç–æ–µ —á—Ç–µ–Ω–∏–µ CSV-—Ñ–∞–π–ª–æ–≤ –≤ pandas

–°–Ω–∞—á–∞–ª–∞ –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ—á–∏—Ç–∞–µ–º –æ–±–∞ CSV-—Ñ–∞–π–ª–∞ –≤ –æ–±—ä–µ–∫—Ç—ã `DataFrame`, –±–µ–∑ –∫–∞–∫–∏—Ö‚Äë–ª–∏–±–æ –∏–∑–º–µ–Ω–µ–Ω–∏–π.

–ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –º—ã —É–∑–Ω–∞–µ–º, —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –∑–∞–≥—Ä—É–∂–µ–Ω–æ –≤ –∫–∞–∂–¥—ã–π –¥–∞—Ç–∞—Å–µ—Ç.

In [3]:
# üê± –®–∞–≥ 2A. –ß—Ç–µ–Ω–∏–µ CSV-—Ñ–∞–π–ª–æ–≤ –≤ pandas

import pandas as pd

df_retail = pd.read_csv("data/retail.csv")

print("‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ —Å—Ç—Ä–æ–∫ –≤ df_reyail:", len(df_retail))

‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ —Å—Ç—Ä–æ–∫ –≤ df_reyail: 585

## üßπ [2B] –û—á–∏—Å—Ç–∫–∞ –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤

–í –≤–∞—à–µ–º CSV-—Ñ–∞–π–ª–µ `retail.csv` –µ—Å—Ç—å **—Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–µ —Å—Ç–æ–ª–±—Ü—ã** –∏–∑ Wikidata, –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —É–¥–æ–±–Ω–æ–º—É –≤–∏–¥—É:

- –°—Ç–æ–ª–±–µ—Ü `company` —Å URL (—Å—Å—ã–ª–∫–æ–π –Ω–∞ –æ–±—ä–µ–∫—Ç Wikidata, –Ω–∞–ø—Ä–∏–º–µ—Ä `http://www.wikidata.org/entity/Q4647626`) ‚Äî **—É–¥–∞–ª—è–µ–º**, —Ç–∞–∫ –∫–∞–∫ –¥–ª—è –±–∞–∑–æ–≤–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –Ω–∞–º –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —á–∏—Ç–∞–µ–º—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏–π üîß –ò–ó–ú–ï–ù–ï–ù–û: –≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç –ø—Ä–∏–º–µ—Ä–∞ —Å –º—É–ª—å—Ç—Ñ–∏–ª—å–º–∞–º–∏, –∑–¥–µ—Å—å –º—ã –Ω–µ —Å–æ—Ö—Ä–∞–Ω—è–µ–º URL, –∞ —É–¥–∞–ª—è–µ–º –µ–≥–æ
- –°—Ç–æ–ª–±—Ü—ã —Å –ø–æ—Å—Ç—Ñ–∏–∫—Å–æ–º `Label` (`companyLabel`, `countryLabel`, `legalFormLabel`) —Å–æ–¥–µ—Ä–∂–∞—Ç —á–∏—Ç–∞–µ–º—ã–µ –Ω–∞–∑–≤–∞–Ω–∏—è ‚Äî **–ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º**, —É–±–∏—Ä–∞—è –ø–æ—Å—Ç—Ñ–∏–∫—Å `Label`

–í —ç—Ç–æ–º —à–∞–≥–µ –º—ã:
- —É–¥–∞–ª–∏–º —Å—Ç–æ–ª–±–µ—Ü `company` (URL Wikidata);
- –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º `companyLabel ‚Üí company`, `countryLabel ‚Üí country`, `legalFormLabel ‚Üí legalForm`;
- –ø—Ä–∏–≤–µ–¥—ë–º —á–∏—Å–ª–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã (`inceptionYear`, `employees`) –∫ —Ç–∏–ø—É `int`, –µ—Å–ª–∏ –æ–Ω–∏ –±—ã–ª–∏ –ø—Ä–æ—á–∏—Ç–∞–Ω—ã –∫–∞–∫ —Å—Ç—Ä–æ–∫–∏.

–ü—Ä–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–∏ –∫ —á–∏—Å–ª–∞–º –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º:
- `pd.to_numeric(..., errors="coerce")` ‚Äî –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è –≤ —á–∏—Å–ª–∞, –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–µ–≤—Ä–∞—â–∞–µ—Ç –≤ `NaN`;
- `fillna(0)` ‚Äî –∑–∞–º–µ–Ω—è–µ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (`NaN`) –Ω–∞ 0;
- `astype(int)` ‚Äî –ø–µ—Ä–µ–≤–æ–¥–∏—Ç —Å—Ç–æ–ª–±–µ—Ü –∫ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–º—É —Ç–∏–ø—É.

> ‚ö†Ô∏è **–í–∞–∂–Ω–æ:** –ø–æ—Å–ª–µ —ç—Ç–æ–≥–æ —à–∞–≥–∞ —É –≤–∞—Å –æ—Å—Ç–∞–Ω—É—Ç—Å—è —Ç–æ–ª—å–∫–æ ¬´—á–∏—Å—Ç—ã–µ¬ª —Å—Ç–æ–ª–±—Ü—ã: `company`, `country`, `legalForm`, `inceptionYear`, `employees` ‚Äî –≥–æ—Ç–æ–≤—ã–µ –∫ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏, –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏.

In [9]:
# üßπ –®–∞–≥ 2B. –û—á–∏—Å—Ç–∫–∞ –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–ª—è retail.csv

# üîß –ò–ó–ú–ï–ù–ï–ù–û: —Ä–∞–±–æ—Ç–∞–µ–º —Å df_retail –∏ –≤–∞—à–∏–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏
if "companyLabel" in df_retail.columns:  # üîß –ò–ó–ú–ï–ù–ï–ù–û: –ø—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ companyLabel –≤–º–µ—Å—Ç–æ filmLabel
    # 1) –£–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å URL Wikidata (company), —Ç–∞–∫ –∫–∞–∫ –æ–Ω –Ω–µ –Ω—É–∂–µ–Ω –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞
    # üîß –ò–ó–ú–ï–ù–ï–ù–û: –¥–æ–±–∞–≤–ª–µ–Ω–æ —É–¥–∞–ª–µ–Ω–∏–µ company (URL), –∞ –Ω–µ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ
    if "company" in df_retail.columns:
        df_retail = df_retail.drop(columns=["company"])
        print("üóëÔ∏è –°—Ç–æ–ª–±–µ—Ü 'company' (URL) —É–¥–∞–ª—ë–Ω")

    # 2) –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã: —É–±–∏—Ä–∞–µ–º –ø–æ—Å—Ç—Ñ–∏–∫—Å Label
    # üîß –ò–ó–ú–ï–ù–ï–ù–û: –Ω–æ–≤—ã–µ –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫ –ø–æ–¥ –≤–∞—à –¥–∞—Ç–∞—Å–µ—Ç
    df_retail = df_retail.rename(columns={
        "companyLabel": "company",        # –±—ã–ª–æ: filmLabel ‚Üí film
        "countryLabel": "country",        # –±—ã–ª–æ: countryLabel ‚Üí country (—Å–æ–≤–ø–∞–¥–∞–µ—Ç)
        "legalFormLabel": "legalForm",    # üîß –ù–û–í–û–ï: –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ legalFormLabel
    })

    # 3) –ü—Ä–∏–≤–æ–¥–∏–º —á–∏—Å–ª–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã –∫ —Ç–∏–ø—É int
    # üîß –ò–ó–ú–ï–ù–ï–ù–û: inceptionYear –∏ employees –≤–º–µ—Å—Ç–æ duration/publicationYear
    df_retail["inceptionYear"] = pd.to_numeric(
        df_retail["inceptionYear"], errors="coerce"
    ).fillna(0).astype(int)

    df_retail["employees"] = pd.to_numeric(
        df_retail["employees"], errors="coerce"
    ).fillna(0).astype(int)

    print("‚úÖ df_retail –æ—á–∏—â–µ–Ω –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω")
else:
    print("‚è≠Ô∏è df_retail —É–∂–µ –æ—á–∏—â–µ–Ω, –ø—Ä–æ–ø—É—Å–∫–∞–µ–º")

# üîß –ò–ó–ú–ï–ù–ï–ù–û: —Ñ–∏–Ω–∞–ª—å–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã
print("\nüìã –ò—Ç–æ–≥–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã:", df_retail.columns.tolist())
print("‚úÖ –î–∞–Ω–Ω—ã–µ –≥–æ—Ç–æ–≤—ã –∫ –∞–Ω–∞–ª–∏–∑—É")
# üîß –û–ü–¶–ò–û–ù–ê–õ–¨–ù–û: –ø—Ä–µ–¥–ø—Ä–æ—Å–º–æ—Ç—Ä –æ—á–∏—â–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö
display(df_retail.head(3))

# üîß –û–ü–¶–ò–û–ù–ê–õ–¨–ù–û: –ø—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏
print("\nüîç –ü—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö:")
print(df_retail.isnull().sum())

‚è≠Ô∏è df_retail —É–∂–µ –æ—á–∏—â–µ–Ω, –ø—Ä–æ–ø—É—Å–∫–∞–µ–º

üìã –ò—Ç–æ–≥–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã: ['company', 'inceptionYear', 'country', 'legalForm', 'employees']
‚úÖ –î–∞–Ω–Ω—ã–µ –≥–æ—Ç–æ–≤—ã –∫ –∞–Ω–∞–ª–∏–∑—É

,company,inceptionYear,country,legalForm,employees
0,A. C. Smith & Co. Gas Station,1926,–°–®–ê,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0
1,Q111328711,2011,–§—Ä–∞–Ω—Ü–∏—è,–æ–±—â–µ—Å—Ç–≤–æ —Å –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω–æ–π –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ—Å—Ç—å—é,0
2,–ë–µ–Ω–∑–æ–∫–æ–ª–æ–Ω–∫–∞ ¬´–ê—É—Ç–æ –ü–∞–ª–∞—Å¬ª,1936,–ù–∏–¥–µ—Ä–ª–∞–Ω–¥—ã,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0

üîç –ü—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö:
company          0
inceptionYear    0
country          0
legalForm        0
employees        0
dtype: int64

## üîç [3] –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö: —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –∏ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏

–°–¥–µ–ª–∞–µ–º –∫–æ—Ä–æ—Ç–∫–∏–π –æ–±–∑–æ—Ä DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö:

- –ø–æ—Å–º–æ—Ç—Ä–∏–º —Ä–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã (`shape`);
- –≤—ã–≤–µ–¥–µ–º —Å–ø–∏—Å–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤;
- –ø–æ—Å–º–æ—Ç—Ä–∏–º –ø–µ—Ä–≤—ã–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫;
- –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –ø–æ—Å—á–∏—Ç–∞–µ–º –±–∞–∑–æ–≤—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º (`inceptionYear`, `employees`) üîß –ò–ó–ú–ï–ù–ï–ù–û: –≤–º–µ—Å—Ç–æ –±—é–¥–∂–µ—Ç–∞ (`capital_cost`) –∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –≥–æ–¥ –æ—Å–Ω–æ–≤–∞–Ω–∏—è –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –Ω–∞–ø–∏—à–µ–º –º–∞–ª–µ–Ω—å–∫—É—é —Ñ—É–Ω–∫—Ü–∏—é `show_info(df, name)`, —á—Ç–æ–±—ã –Ω–µ –ø–æ–≤—Ç–æ—Ä—è—Ç—å –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –∫–æ–¥.

> üí° **–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ:** –≤ —Å—Ç–æ–ª–±—Ü–µ `legalForm` –º–æ–≥—É—Ç –±—ã—Ç—å –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è ‚Äî —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –∏–∑ Wikidata. –ù–∞ —Å–ª–µ–¥—É—é—â–∏—Ö —à–∞–≥–∞—Ö –º—ã –Ω–∞—É—á–∏–º—Å—è —Å –Ω–∏–º–∏ —Ä–∞–±–æ—Ç–∞—Ç—å.

In [12]:
# üßπ –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫ –¥–ª—è –∫—Ä–∞—Å–∏–≤–æ–≥–æ –≤—ã–≤–æ–¥–∞ —Ç–∞–±–ª–∏—Ü
from IPython.display import display, Markdown, HTML
import pandas as pd

def show_info_table(df, name, n=5):
    """
    –ö—Ä–∞—Å–∏–≤—ã–π –æ–±–∑–æ—Ä DataFrame —Å —Ç–∞–±–ª–∏—á–Ω—ã–º –≤—ã–≤–æ–¥–æ–º –¥–ª—è Google Colab.
    """
    # üîß –ó–∞–≥–æ–ª–æ–≤–æ–∫ —Ä–∞–∑–¥–µ–ª–∞
    display(Markdown(f"### üìä {name}"))

    # üîß –¢–∞–±–ª–∏—Ü–∞ —Å –æ—Å–Ω–æ–≤–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π
    info_data = {
        "–ü–∞—Ä–∞–º–µ—Ç—Ä": ["–†–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã", "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤", "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫"],
        "–ó–Ω–∞—á–µ–Ω–∏–µ": [f"{df.shape[0]} √ó {df.shape[1]}", df.shape[1], df.shape[0]]
    }
    display(pd.DataFrame(info_data).set_index("–ü–∞—Ä–∞–º–µ—Ç—Ä"))

    # üîß –°–ø–∏—Å–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤
    display(Markdown("**üìã –°–ø–∏—Å–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤:**"))
    columns_df = pd.DataFrame({
        "‚Ññ": range(1, len(df.columns) + 1),
        "–ò–º—è —Å—Ç–æ–ª–±—Ü–∞": df.columns.tolist(),
        "–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö": df.dtypes.values
    })
    display(columns_df.set_index("‚Ññ"))

    # üîß –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –¥–∞–Ω–Ω—ã—Ö (—Ç–∞–±–ª–∏—Ü–∞)
    display(Markdown(f"**üîç –ü–µ—Ä–≤—ã–µ {n} —Å—Ç—Ä–æ–∫:**"))
    display(df.head(n))

    # üîß –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º
    numeric_cols = df.select_dtypes(include='number').columns
    if len(numeric_cols) > 0:
        display(Markdown(f"**üìà –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º:** {list(numeric_cols)}"))
        display(df[numeric_cols].describe().round(2))

    # üîß –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö
    display(Markdown("**‚ö†Ô∏è –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:**"))
    missing_df = pd.DataFrame({
        "–°—Ç–æ–ª–±–µ—Ü": df.columns,
        "–ü—Ä–æ–ø—É—Å–∫–æ–≤": df.isnull().sum().values,
        "% –ø—Ä–æ–ø—É—Å–∫–æ–≤": (df.isnull().sum() / len(df) * 100).round(2).values
    })
    display(missing_df[missing_df["–ü—Ä–æ–ø—É—Å–∫–æ–≤"] > 0] if missing_df["–ü—Ä–æ–ø—É—Å–∫–æ–≤"].any()
            else Markdown("_–í—Å–µ —Å—Ç–æ–ª–±—Ü—ã –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø–æ–ª–Ω–æ—Å—Ç—å—é ‚úÖ_"))

    print("\n" + "="*60 + "\n")

# üîç –®–∞–≥ 3. –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å —Ç–∞–±–ª–∏—á–Ω—ã–º –≤—ã–≤–æ–¥–æ–º

show_info_table(df_retail, "–î–∞–Ω–Ω—ã–µ –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö –∏–∑ Wikidata (df_retail)")

# üîß –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ: —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö
display(Markdown("### üîç –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö"))

categorical_info = []
for col in ["country", "legalForm", "company"]:
    if col in df_retail.columns:
        categorical_info.append({
            "–°—Ç–æ–ª–±–µ—Ü": col,
            "–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π": df_retail[col].nunique(),
            "–ù–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ–µ": df_retail[col].mode().iloc[0] if not df_retail[col].mode().empty else "N/A"
        })

if categorical_info:
    display(pd.DataFrame(categorical_info).set_index("–°—Ç–æ–ª–±–µ—Ü"))

### üìä –î–∞–Ω–Ω—ã–µ –æ –∫–æ–º–ø–∞–Ω–∏—è—Ö –∏–∑ Wikidata (df_retail)

                    –ó–Ω–∞—á–µ–Ω–∏–µ
–ü–∞—Ä–∞–º–µ—Ç—Ä
–†–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã       585 √ó 5
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤        5
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫         585

**üìã –°–ø–∏—Å–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤:**

     –ò–º—è —Å—Ç–æ–ª–±—Ü–∞ –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö
‚Ññ
1        company     object
2  inceptionYear      int64
3        country     object
4      legalForm     object
5      employees      int64

**üîç –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:**

,company,inceptionYear,country,legalForm,employees
0,A. C. Smith & Co. Gas Station,1926,–°–®–ê,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0
1,Q111328711,2011,–§—Ä–∞–Ω—Ü–∏—è,–æ–±—â–µ—Å—Ç–≤–æ —Å –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω–æ–π –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ—Å—Ç—å—é,0
2,–ë–µ–Ω–∑–æ–∫–æ–ª–æ–Ω–∫–∞ ¬´–ê—É—Ç–æ –ü–∞–ª–∞—Å¬ª,1936,–ù–∏–¥–µ—Ä–ª–∞–Ω–¥—ã,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0
3,Skovshoved Petrol Station,1936,–î–∞–Ω–∏—è,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0
4,Q136365892,1789,–ö–æ—Ä–æ–ª–µ–≤—Å—Ç–≤–æ –í–µ—Å—Ç—Ñ–∞–ª–∏—è,–ù–µ —É–∫–∞–∑–∞–Ω–∞,0

**üìà –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º:** ['inceptionYear', 'employees']

       inceptionYear   employees
count         585.00      585.00
mean         1955.78    15313.21
std            43.48   105978.57
min          1694.00        0.00
25%          1930.00        0.00
50%          1958.00        0.00
75%          1992.00        0.00
max          2025.00  1589508.00

**‚ö†Ô∏è –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:**

_–í—Å–µ —Å—Ç–æ–ª–±—Ü—ã –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø–æ–ª–Ω–æ—Å—Ç—å—é ‚úÖ_

============================================================

### üîç –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö

           –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ù–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ–µ
–°—Ç–æ–ª–±–µ—Ü
country                     74             –°–®–ê
legalForm                   65      –ù–µ —É–∫–∞–∑–∞–Ω–∞
company                    470            OLEX

## üèÜ [5] –ì–ª—É–±–æ–∫–∏–π –∞–Ω–∞–ª–∏–∑: –ö–æ–º–ø–∞–Ω–∏–∏-–¥–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏ –∏ –ö–æ–º–ø–∞–Ω–∏–∏-–≥–∏–≥–∞–Ω—Ç—ã

–ù–∞ —ç—Ç–æ–º —à–∞–≥–µ –º—ã –ø—Ä–æ–≤–µ–¥—ë–º –¥–≤–∞ —Ü–µ–ª–µ–≤—ã—Ö –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –≤–∞—à–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ `retail.csv`:

### üï∞Ô∏è –ß–∞—Å—Ç—å A: –ö–æ–º–ø–∞–Ω–∏–∏-–¥–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏
**–¶–µ–ª—å**: –ù–∞–π—Ç–∏ —Å—Ç–∞—Ä–µ–π—à–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –≤ –≤—ã–±–æ—Ä–∫–µ –∏ –∏–∑—É—á–∏—Ç—å –∏—Ö –ø—Ä–æ—Ñ–∏–ª—å.

**–ß—Ç–æ —Å—á–∏—Ç–∞–µ–º:**
- –¢–æ–ø-10 –∫–æ–º–ø–∞–Ω–∏–π —Å —Å–∞–º—ã–º —Ä–∞–Ω–Ω–∏–º `inceptionYear`
- –î–ª—è –∫–∞–∂–¥–æ–π –ø–æ–∫–∞–∂–µ–º: –Ω–∞–∑–≤–∞–Ω–∏–µ, —Å—Ç—Ä–∞–Ω—É, –ø—Ä–∞–≤–æ–≤—É—é —Ñ–æ—Ä–º—É, –≥–æ–¥ –æ—Å–Ω–æ–≤–∞–Ω–∏—è, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤
- –û—Ç–¥–µ–ª—å–Ω–æ –≤—ã–¥–µ–ª–∏–º —Ä–µ–∫–æ—Ä–¥—Å–º–µ–Ω–∞ ‚Äî —Å–∞–º—É—é —Å—Ç–∞—Ä—É—é –∫–æ–º–ø–∞–Ω–∏—é –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ

**–§–∏–ª—å—Ç—Ä—ã –∏ —É—Å–ª–æ–≤–∏—è:**
- –ò—Å–∫–ª—é—á–∞–µ–º –∑–∞–ø–∏—Å–∏, –≥–¥–µ `inceptionYear` ‚â§ 0 –∏–ª–∏ –ø—É—Å—Ç–æ–π
- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –≥–æ–¥—É –æ—Å–Ω–æ–≤–∞–Ω–∏—è (–ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é)

---

### üè¢ –ß–∞—Å—Ç—å B: –ö–æ–º–ø–∞–Ω–∏–∏-–≥–∏–≥–∞–Ω—Ç—ã (–ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤)
**–¶–µ–ª—å**: –í—ã—è–≤–∏—Ç—å –∫—Ä—É–ø–Ω–µ–π—à–∏–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏ –≤ –≤—ã–±–æ—Ä–∫–µ.

**–ß—Ç–æ —Å—á–∏—Ç–∞–µ–º:**
- –¢–æ–ø-20 –∫–æ–º–ø–∞–Ω–∏–π —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º `employees`
- –î–ª—è –∫–∞–∂–¥–æ–π –ø–æ–∫–∞–∂–µ–º: –Ω–∞–∑–≤–∞–Ω–∏–µ, —Å—Ç—Ä–∞–Ω—É, –≥–æ–¥ –æ—Å–Ω–æ–≤–∞–Ω–∏—è, –ø—Ä–∞–≤–æ–≤—É—é —Ñ–æ—Ä–º—É, —á–∏—Å–ª–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤
- –ü–æ—Å—á–∏—Ç–∞–µ–º —Å–≤–æ–¥–Ω—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É: —Å—Ä–µ–¥–Ω–µ–µ, –º–µ–¥–∏–∞–Ω–∞, –º–∞–∫—Å–∏–º—É–º –ø–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞–º

**–§–∏–ª—å—Ç—Ä—ã –∏ —É—Å–ª–æ–≤–∏—è:**
- –ò—Å–∫–ª—é—á–∞–µ–º –∫–æ–º–ø–∞–Ω–∏–∏ —Å `employees` = 0 –∏–ª–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ (–ø–æ —É–±—ã–≤–∞–Ω–∏—é)
- –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏–º, –Ω–µ—Ç –ª–∏ –∞–Ω–æ–º–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, > 1 000 000)

---

> üí° **–ó–∞—á–µ–º —ç—Ç–æ –Ω—É–∂–Ω–æ?**
> - ¬´–î–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏¬ª –ø–æ–º–æ–≥–∞—é—Ç –ø–æ–Ω—è—Ç—å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫—É—é –≥–ª—É–±–∏–Ω—É –¥–∞–Ω–Ω—ã—Ö
> - ¬´–ì–∏–≥–∞–Ω—Ç—ã¬ª –ø–æ–∫–∞–∑—ã–≤–∞—é—Ç, –∫–∞–∫–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –¥–æ–º–∏–Ω–∏—Ä—É—é—Ç –ø–æ –º–∞—Å—à—Ç–∞–±—É
> - –û–±–∞ –∞–Ω–∞–ª–∏–∑–∞ ‚Äî –æ—Å–Ω–æ–≤–∞ –¥–ª—è –±—É–¥—É—â–∏—Ö –≥–∏–ø–æ—Ç–µ–∑: ¬´–í–ª–∏—è–µ—Ç –ª–∏ –≤–æ–∑—Ä–∞—Å—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –µ—ë —Ä–∞–∑–º–µ—Ä?¬ª

> ‚ö†Ô∏è **–í–∞–∂–Ω–æ:** –í—Å–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –≤—ã–≤–æ–¥—è—Ç—Å—è –≤ –≤–∏–¥–µ –∞–∫–∫—É—Ä–∞—Ç–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü. –ï—Å–ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏–ª–∏ –Ω—É–ª–∏ ‚Äî –æ–Ω–∏ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—é—Ç—Å—è –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.

In [13]:
# üèÜ –®–∞–≥ 5. –ö–æ–º–ø–∞–Ω–∏–∏-–¥–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏ –∏ –ö–æ–º–ø–∞–Ω–∏–∏-–≥–∏–≥–∞–Ω—Ç—ã
# üîß –ò–º–ø–æ—Ä—Ç –¥–ª—è –∫—Ä–∞—Å–∏–≤–æ–≥–æ –≤—ã–≤–æ–¥–∞ —Ç–∞–±–ª–∏—Ü
from IPython.display import display, Markdown
import pandas as pd

# ============================================================================
# üï∞Ô∏è –ß–ê–°–¢–¨ A: –ö–æ–º–ø–∞–Ω–∏–∏-–¥–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏ (—Å—Ç–∞—Ä–µ–π—à–∏–µ –ø–æ –≥–æ–¥—É –æ—Å–Ω–æ–≤–∞–Ω–∏—è)
# ============================================================================
display(Markdown("### üï∞Ô∏è –¢–æ–ø-10 —Å—Ç–∞—Ä–µ–π—à–∏—Ö –∫–æ–º–ø–∞–Ω–∏–π"))

# –ö–æ–ø–∏—Ä—É–µ–º DataFrame, —á—Ç–æ–±—ã –Ω–µ –º–µ–Ω—è—Ç—å –æ—Ä–∏–≥–∏–Ω–∞–ª
df_longevity = df_retail.copy()

# üîß –§–∏–ª—å—Ç—Ä: –æ—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –≤–∞–ª–∏–¥–Ω—ã–µ –≥–æ–¥—ã –æ—Å–Ω–æ–≤–∞–Ω–∏—è (> 1800 –∏ –Ω–µ –ø—Ä–æ–ø—É—Å–∫)
df_longevity = df_longevity[
    (df_longevity["inceptionYear"].notna()) &
    (df_longevity["inceptionYear"] > 1800) &
    (df_longevity["inceptionYear"] <= 2024)
]

# üîß –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –≥–æ–¥—É –æ—Å–Ω–æ–≤–∞–Ω–∏—è (–ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é) –∏ –±–µ—Ä—ë–º —Ç–æ–ø-10
top_oldest = df_longevity.nsmallest(10, "inceptionYear")[
    ["company", "country", "legalForm", "inceptionYear", "employees"]
].reset_index(drop=True)

# üîß –î–æ–±–∞–≤–∏–º –ø–æ—Ä—è–¥–∫–æ–≤—ã–π –Ω–æ–º–µ—Ä –¥–ª—è –∫—Ä–∞—Å–æ—Ç—ã
top_oldest.insert(0, "üèÖ –ú–µ—Å—Ç–æ", range(1, len(top_oldest) + 1))

# üîß –í—ã–≤–æ–¥–∏–º —Ç–∞–±–ª–∏—Ü—É
display(top_oldest.style
        .set_properties(**{"text-align": "left"})
        .set_table_styles([{"selector": "th", "props": [("background-color", "#f0f0f0"), ("font-weight", "bold")]}])
        .format({"inceptionYear": "{:.0f}", "employees": "{:.0f}"}))

# üîß –í—ã–¥–µ–ª—è–µ–º –∞–±—Å–æ–ª—é—Ç–Ω–æ–≥–æ —Ä–µ–∫–æ—Ä–¥—Å–º–µ–Ω–∞
if not top_oldest.empty:
    record_holder = top_oldest.iloc[0]
    display(Markdown(
        f"> üéñÔ∏è **–†–µ–∫–æ—Ä–¥—Å–º–µ–Ω:** `{record_holder['company']}` "
        f"({record_holder['country']}), –æ—Å–Ω–æ–≤–∞–Ω–∞ –≤ **{int(record_holder['inceptionYear'])} –≥–æ–¥—É**"
    ))

print("\n" + "‚îÄ"*70 + "\n")


# ============================================================================
# üè¢ –ß–ê–°–¢–¨ B: –ö–æ–º–ø–∞–Ω–∏–∏-–≥–∏–≥–∞–Ω—Ç—ã (–ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤)
# ============================================================================
display(Markdown("### üè¢ –¢–æ–ø-20 –∫–æ–º–ø–∞–Ω–∏–π –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤"))

df_giants = df_retail.copy()

# üîß –§–∏–ª—å—Ç—Ä: —Ç–æ–ª—å–∫–æ –∫–æ–º–ø–∞–Ω–∏–∏ —Å –≤–∞–ª–∏–¥–Ω—ã–º —á–∏—Å–ª–æ–º —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ (> 0 –∏ –Ω–µ –ø—Ä–æ–ø—É—Å–∫)
df_giants = df_giants[
    (df_giants["employees"].notna()) &
    (df_giants["employees"] > 0) &
    (df_giants["employees"] <= 10_000_000)  # üîß –ó–∞—â–∏—Ç–∞ –æ—Ç –∞–Ω–æ–º–∞–ª–∏–π (>10 –º–ª–Ω ‚Äî —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –æ—à–∏–±–∫–∞)
]

# üîß –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ employees (–ø–æ —É–±—ã–≤–∞–Ω–∏—é) –∏ –±–µ—Ä—ë–º —Ç–æ–ø-20
top_employees = df_giants.nlargest(20, "employees")[
    ["company", "country", "legalForm", "inceptionYear", "employees"]
].reset_index(drop=True)

# üîß –î–æ–±–∞–≤–∏–º –ø–æ—Ä—è–¥–∫–æ–≤—ã–π –Ω–æ–º–µ—Ä
top_employees.insert(0, "ü•á –ú–µ—Å—Ç–æ", range(1, len(top_employees) + 1))

# üîß –í—ã–≤–æ–¥–∏–º —Ç–∞–±–ª–∏—Ü—É —Å —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ–º
display(top_employees.style
        .set_properties(**{"text-align": "left"})
        .set_table_styles([{"selector": "th", "props": [("background-color", "#e8f4f8"), ("font-weight", "bold")]}])
        .format({"inceptionYear": "{:.0f}", "employees": "{:,.0f}"}))  # üîß –§–æ—Ä–º–∞—Ç —á–∏—Å–µ–ª —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—è–º–∏

# üîß –°–≤–æ–¥–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –≥–∏–≥–∞–Ω—Ç–∞–º
if not top_employees.empty:
    display(Markdown("**üìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –¢–æ–ø-20 –≥–∏–≥–∞–Ω—Ç–æ–≤:**"))
    stats = pd.DataFrame({
        "–ú–µ—Ç—Ä–∏–∫–∞": ["–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤", "–ú–µ–¥–∏–∞–Ω–∞", "–ú–∞–∫—Å–∏–º—É–º", "–ú–∏–Ω–∏–º—É–º –≤ —Ç–æ–ø-20", "–°—É–º–º–∞—Ä–Ω–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤"],
        "–ó–Ω–∞—á–µ–Ω–∏–µ": [
            f"{top_employees['employees'].mean():,.0f}",
            f"{top_employees['employees'].median():,.0f}",
            f"{top_employees['employees'].max():,.0f}",
            f"{top_employees['employees'].min():,.0f}",
            f"{top_employees['employees'].sum():,.0f}"
        ]
    })
    display(stats.set_index("–ú–µ—Ç—Ä–∏–∫–∞"))

print("\n" + "‚îÄ"*70 + "\n")


# ============================================================================
# üîç –ë–û–ù–£–°: –ü–µ—Ä–µ—Å–µ—á–µ–Ω–∏–µ ¬´–î–æ–ª–≥–æ–∂–∏—Ç–µ–ª–∏¬ª –∏ ¬´–ì–∏–≥–∞–Ω—Ç—ã¬ª
# ============================================================================
display(Markdown("### üéØ –ë–æ–Ω—É—Å: –°—Ç–∞—Ä–µ–π—à–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ —Ç–∞–∫–∂–µ —è–≤–ª—è—é—Ç—Å—è –≥–∏–≥–∞–Ω—Ç–∞–º–∏"))

# üîß –ù–∞—Ö–æ–¥–∏–º –∫–æ–º–ø–∞–Ω–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ –≤–æ—à–ª–∏ –≤ –æ–±–∞ —Å–ø–∏—Å–∫–∞ (–ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é)
if not top_oldest.empty and not top_employees.empty:
    oldest_names = set(top_oldest["company"])
    giant_names = set(top_employees["company"])
    intersection = oldest_names & giant_names

    if intersection:
        cross_df = df_retail[df_retail["company"].isin(intersection)][
            ["company", "country", "legalForm", "inceptionYear", "employees"]
        ]
        display(cross_df.style
                .set_properties(**{"text-align": "left"})
                .set_table_styles([{"selector": "th", "props": [("background-color", "#fff3cd"), ("font-weight", "bold")]}])
                .format({"inceptionYear": "{:.0f}", "employees": "{:,.0f}"}))
        display(Markdown(f"> ‚ú® –ù–∞–π–¥–µ–Ω–æ **{len(intersection)} –∫–æ–º–ø–∞–Ω–∏–π**, –∫–æ—Ç–æ—Ä—ã–µ –∏ —Å—Ç–∞—Ä—ã–µ, –∏ –∫—Ä—É–ø–Ω—ã–µ!"))
    else:
        display(Markdown("> üîç –ü–µ—Ä–µ—Å–µ—á–µ–Ω–∏–π –Ω–µ –Ω–∞–π–¥–µ–Ω–æ: —Å—Ç–∞—Ä–µ–π—à–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å–∞–º—ã–µ –∫—Ä—É–ø–Ω—ã–µ."))

### üï∞Ô∏è –¢–æ–ø-10 —Å—Ç–∞—Ä–µ–π—à–∏—Ö –∫–æ–º–ø–∞–Ω–∏–π

> üéñÔ∏è **–†–µ–∫–æ—Ä–¥—Å–º–µ–Ω:** `S√∂derk√∂pings Bokhandel` (–®–≤–µ—Ü–∏—è), –æ—Å–Ω–æ–≤–∞–Ω–∞ –≤ **1815 –≥–æ–¥—É**

‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

### üè¢ –¢–æ–ø-20 –∫–æ–º–ø–∞–Ω–∏–π –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤

**üìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –¢–æ–ø-20 –≥–∏–≥–∞–Ω—Ç–æ–≤:**

                             –ó–Ω–∞—á–µ–Ω–∏–µ
–ú–µ—Ç—Ä–∏–∫–∞
–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤    384,790
–ú–µ–¥–∏–∞–Ω–∞                       350,000
–ú–∞–∫—Å–∏–º—É–º                    1,589,508
–ú–∏–Ω–∏–º—É–º –≤ —Ç–æ–ø-20               79,000
–°—É–º–º–∞—Ä–Ω–æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤        7,695,807

‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

### üéØ –ë–æ–Ω—É—Å: –°—Ç–∞—Ä–µ–π—à–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ —Ç–∞–∫–∂–µ —è–≤–ª—è—é—Ç—Å—è –≥–∏–≥–∞–Ω—Ç–∞–º–∏

> üîç –ü–µ—Ä–µ—Å–µ—á–µ–Ω–∏–π –Ω–µ –Ω–∞–π–¥–µ–Ω–æ: —Å—Ç–∞—Ä–µ–π—à–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å–∞–º—ã–µ –∫—Ä—É–ø–Ω—ã–µ.

## üìù Summary

**–ß—Ç–æ –º—ã —Å–¥–µ–ª–∞–ª–∏ –≤ —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ (Week 2):**

- ‚úÖ –ö–ª–æ–Ω–∏—Ä–æ–≤–∞–ª–∏ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π GitHub –≤ Colab
- ‚úÖ –ü—Ä–æ—á–∏—Ç–∞–ª–∏ 2 CSV-—Ñ–∞–π–ª–∞ –∏–∑ `data/examples/`
- ‚úÖ –£–¥–∞–ª–∏–ª–∏ URL Wikidata –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–ª–∏ —Å—Ç–æ–ª–±—Ü—ã (`*Label ‚Üí –∫–æ—Ä–æ—Ç–∫–∏–µ –∏–º–µ–Ω–∞`)
- ‚úÖ –ü—Ä–æ–≤–µ—Ä–∏–ª–∏ —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö (—Ä–∞–∑–º–µ—Ä, —Å—Ç–æ–ª–±—Ü—ã, –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏)
- ‚úÖ –í—ã–ø–æ–ª–Ω–∏–ª–∏ –±—ã—Å—Ç—Ä—É—é –≤–∞–ª–∏–¥–∞—Ü–∏—é:
  - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ñ–∏–ª—å–º–æ–≤, —Å—Ç—Ä–∞–Ω, –∂–∞–Ω—Ä–æ–≤
  - –¥–∏–∞–ø–∞–∑–æ–Ω—ã –∑–Ω–∞—á–µ–Ω–∏–π
  - —Ç–æ–ø —Å—Ç—Ä–∞–Ω –∏ –∂–∞–Ω—Ä–æ–≤ –ø–æ —á–∏—Å–ª—É –∑–∞–ø–∏—Å–µ–π
  - —Ç–∏–ø—ã –æ—Ü–µ–Ω–æ–∫ –∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤

–¢–µ–ø–µ—Ä—å —É –Ω–∞—Å –µ—Å—Ç—å **–∞–∫–∫—É—Ä–∞—Ç–Ω—ã–µ, –ø—Ä–æ–≤–µ—Ä–µ–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã**, —Å –∫–æ—Ç–æ—Ä—ã–º–∏ —É–¥–æ–±–Ω–æ —Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–ª—å—à–µ.

–í –æ—Ç–¥–µ–ª—å–Ω–æ–º –Ω–æ—É—Ç–±—É–∫–µ –¥–ª—è —Å–ª–µ–¥—É—é—â–µ–π –Ω–µ–¥–µ–ª–∏ –º—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å **—Ç–µ –∂–µ –¥–∞–Ω–Ω—ã–µ** –¥–ª—è:
- –±–æ–ª–µ–µ —Å–ª–æ–∂–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ (–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è),
- –∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–π (–≥—Ä–∞—Ñ–∏–∫–∏ –∏ –¥–∏–∞–≥—Ä–∞–º–º—ã). üé®